<div class="flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold  mb-6">Lista de Usuários</h1>
  
    @if (state$ | async; as state) {
  
      @if (state.loading) {
        <div class="loading-box">
          <p>Buscando usuários, por favor aguarde...</p>
        </div>
      }
  
      @if (state.error) {
        <div class="error-box">
          <p>⚠️ {{ state.error }}</p>
        </div>
      }
  
      @if (state.data) {
        <ul class="user-list">
          
          @for (user of state.data; track user.id) {
            <li class="user-card">
              <strong>{{ user.name }}</strong>
              <span>{{ user.email }}</span>
              <strong>{{ user.username }}</strong>
              <span>{{ user.website }}</span>
              <small>Empresa: {{ user.company.name }}</small>
            </li>
          } @empty {
            <p>Nenhum usuário encontrado.</p>
          }
  
        </ul>
      }
  
    }

    <!-- <h2>Lista de Usuários (Gerenciada com Signals)</h2>

  @if (loading()) {
    <div class="loading-box">
      <p>Buscando usuários, por favor aguarde...</p>
    </div>
  }

  @if (error()) {
    <div class="error-box">
      <p>⚠️ {{ error() }}</p>
    </div>
  }

  @if (!loading() && !error()) {
    <ul class="user-list">
      
      @for (user of usuarios(); track user.id) {
        <li class="user-card">
          <strong>{{ user.name }}</strong>
          <span>{{ user.email }}</span>
          <small>Empresa: {{ user.company.name }}</small>
        </li>
      } @empty {
        <p>Nenhum usuário encontrado.</p>
      }

    </ul>
  } -->
  </div>
